CONTENTFUL_SPACE_ID=csghb4vkh0f1
CONTENTFUL_ENV=master
CONTENTFUL_CDA_TOKEN=-_gdiojB7u6FhvmF8GHBmlTv_cajphMdJMo6HxM_bnI
CONTENTFUL_LOCALE=en-US
# Optional: limit entries to one content model id
# CONTENTFUL_CONTENT_TYPE=photo
